    <footer>
      <p>&copy; <%= year %> Sort Visualizer. Licensed under GPLv3.</p>
    </footer>
    <div id="toggle"></div>
    <div id="theme">
      <img id='light' src="/assets/sun.png" alt='light' class='active' />
      <img id='dark' src="/assets/moon.png" alt='dark' />
    </div>
    <script src="/script.js"></script>
  </body>
</html>
