<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An Interactive Sorting Visualizer Website For The Curious Nerds " />
    <meta name="keywords" content="sort, visualizer, algorithm, graphic, math, computer science" />
    <title>Sort Visualizer - <%= title %></title>
    <link rel="icon" href="/icon.svg" />
    <link rel="stylesheet" href="/style.css" media="all" />
  </head>
  <body>
    <header>
      <a href="/" id="logo">
        <img src="/icon.svg" alt="Sort Visualizer Icon" />
        <h1>Sort Visualizer</h1>
      </a>
      <div id="links">
        <a href="/">Home</a>
        <a href="#">Algorithms</a>
        <a href="https://github.com/RedeemedSpoon/Sort-Visualizer">Source Code</a>
      </div>
    </header>
