<%- include('header') %>
<main>
  <h1>Sort Visualizer : Infinite Knowledge</h1>
  <img src="stats.png" alt="Stats and Graphs" />
  <p> Source: <a href="https://en.wikipedia.org/wiki/Sorting_algorithm">https://en.wikipedia.org/wiki/Sorting_algorithm</a></p>
</main>
<%- include('footer') %>
